$display-font: 'Dosis',
sans-serif;
$copy-font: 'Lato',
sans-serif;



$dark-bg-color: #252936;
$light-bg-color: #f0e6e7;
$colored-bg-color: #751432;

$light-copy: #EEEEEE;
$dark-copy: $dark-bg-color;

$light-accent-color: #dfe89a;
$light-link-color: #00e1ce;

$tile-padding: 2em;
$nav-width: 60px;

// $col_a: #0f5959;
// $col_b: #17a697;
// $col_c: #638ca6;
// $col_d: #667b06;
// $col_e: #d93240;
$col_a: #F8B195;
$col_b: #F67280;
$col_c: #17a697;
$col_d: #6C5B7B;
$col_e: #355C7D;

//reset
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

//base
body {
	background-color: black;
	margin: 0;
	font-family: $copy-font;
	font-size: 18px;
	font-size: 1.5vw;
}

p {
	margin-top: 0;
	line-height: 1.6em;
}

a {
	text-decoration: none;
}

h2, h3{
	font-weight: 500;
}

//layout
.container {
	margin-left: $nav-width;
	// min-width: 450px;
	@media (max-width: 450px) {
		margin-left: 0;
		margin-top:$nav-width;

	}
}

.section {
	// border: 1px solid green;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.tile {
	background-color: black;
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 50%;
	min-height: 10px;
	position: relative;
	overflow: hidden;

	line-height: 1.3em;
}

.tile-content {
	top: $tile-padding;
	bottom: $tile-padding;
	right: $tile-padding;
	left: $tile-padding;
	position: absolute;
}

.flex-tile-content {
	// background-color:blue;
	margin: $tile-padding; // 
	position: relative;
	&.end-tile {
		margin-bottom: $tile-padding * 2;
	}
}

.col-full {
	flex-basis: 100%;
}

.col-two-third {
	flex-basis: 66.66%;
	@media (max-width: 450px) {
		flex-basis: 100%;
	}
}

.col-one-third {
	flex-basis: 33.33%;
	@media (max-width: 450px) {
		flex-basis: 100%;
	}
}
.nav{
	.nav-mark {
		width: $nav-width - 10;
		height: $nav-width - 10;
		// background-color: white;
		position: absolute;
		top: 5px;
		left: 5px;
		border-radius: 100px;
		overflow: hidden;
		cursor: pointer;
	}
	
	#hamburger {
		opacity: 1;
		transition: opacity .3s;
	}
	#close {
		opacity: 0;
		transition: opacity .3s;
	}
	a {
		text-decoration: none;
		color: white;
		padding: .5em;
		transition: color .2s;
	}
	a:hover {
		color: $col_b;
	}
	.section-links {
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-left: $nav-width;
		padding-left: $tile-padding *.5; // 	display: flex;
		// 	flex-wrap: wrap;
		
		li {
			line-height: 1.8em;
			font-size: 1.8em;
		}
		.icon{
			width:1em;
			position:relative;
			bottom:-.1em;
			margin-right:.2em;
		}
	}
	&.open {
		#hamburger {
			opacity: 0;
		}
		#close {
			opacity: 1;
		}
	}
}
#top-nav{
	width: 100%;
	height: $nav-width;
	top: 0;
	left: 0;
	overflow: hidden; // min-height:900px;
	position: fixed;
	z-index: 3;
	color: $light-copy;
	font-family: $display-font;
	background-color: rgba(0, 0, 0, 1);
	// background-color:pink;
	// transition: height .25s;
	display: none;
	@media (max-width: 450px) {
		// background-color: rgba(0, 0, 0, 1);
		display: block;
	}
	.nav-header {
		height: $nav-width;
		position: relative; // width:1000px;
	}
	.logo-type {
		display: block;
		position: relative;
		// bottom: 10px;
		height: $nav-width;
		// right:0;
		text-align: center;
		// padding-left: $tile-padding *.5;
		// background-color:pink;
		.logo-text {
			padding-top:.4em;
			font-size: 2.8em;
		}
	}
	.section-links {
		list-style-type: none;
		padding: 0;
		margin: 0;
		margin-left: 0;
		padding: $tile-padding *.5; // 	display: flex;
		// 	flex-wrap: wrap;
		
		li {
			text-align: center;
			line-height: 2.2em;
			font-size: 2.2em;
		}
	}
	
	&.open {
		// width: 50%;
		@media (max-width: 450px) {
			height: 100%;
		}
	}
}
#left-nav {
	width: $nav-width;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden; // min-height:900px;
	position: fixed;
	z-index: 3;
	color: $light-copy;
	font-family: $display-font;
	background-color: rgba(0, 0, 0, .85);
	transition: width .25s;

	@media (max-width: 450px) {
		background-color: rgba(0, 0, 0, 1);
		display: none;
	}

	.nav-header {
		height: $nav-width;
		position: relative; // width:1000px;
	}
	
	&.open {
		width: 50%;
		@media (max-width: 450px) {
			width: 100%;
		}
	}
	.logo-type {
		display: block;
		position: absolute;
		bottom: 10px;
		left: $nav-width;
		padding-left: $tile-padding *.5;
		.logo-text {
			font-size: 1.7em;
		}
	}
}

.block-quote {
	width: 80%;
	margin: $tile-padding auto;
	padding: $tile-padding;
	font-family: $display-font;
	font-size: 1.2em;
	// background-color: $light-bg-color;
	// color: $dark-copy;
	background-color: $col_c;
	color: $light-copy;
}

//index slide show
#landing-slides {
	background-color: black;
	height: 100%;
	overflow: hidden;
	position: relative;
	#title-overlay {
		z-index: 1;
		position: absolute;
		right: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column; // background-color:pink;
		height: 100%;
		font-family: $display-font;
		color: #FFFFFF; // cursor: pointer;
		pointer-events: none;
		#slide-headline {
			font-weight: 200;
			font-size: 8em;
			padding-bottom: .5em;
		} // .slide-label {
		// 	font-size: 3em;
		// 	font-weight: 300;
		// }
	}
	.overlay {
		z-index: 1;
		position: absolute;
		right: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column; // background-color:pink;
		height: 100%;
		font-family: $display-font;
		color: #FFFFFF; // cursor: pointer;
		pointer-events: none; // #slide-headline {
		// 	font-weight: 200;
		// 	font-size: 8em;
		// }
		.slide-label {
			padding-top: 4em;
			font-size: 2.8em;
			font-weight: 300;
			.block{
				background-color:rgba(0, 0, 0, .4);
				padding:.1em .3em;
			}
			
		}
	}
}

.tile-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .2);
	transition: background-color .2s;
}

.tile-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.thumbnav-page-head {
	.nav-thumbs {
		display: flex;
		flex-wrap: wrap;
		margin-top: $tile-padding;
		.thumb-tile {
			overflow: hidden;
			flex-basis: 33.33%;
			flex-shrink: 1;
			flex-grow: 1;
			position: relative; // margin: $tile-padding * .1;
			&:before {
				content: '';
				float: left;
				padding-top: 60%;
			}
			&:hover .tile-overlay {
				background-color: rgba(0, 0, 0, .5);
			}
		}
		.thumb-title {
			z-index: 1;
			bottom: 0;
			position: absolute;
			font-size: 1.5em;
		}
		.tile-content {
			top: $tile-padding *.5;
			bottom: $tile-padding *.5;
			right: $tile-padding *.5;
			left: $tile-padding *.5;
		}
	}
}

.page-head {
	&:before {
		content: '';
		float: left;
		padding-top: 80%;
	}
	@media (max-width: 450px) {
		&:before {
			content: '';
			float: left;
			padding-top: 140%;
		}
	}
}

.thumbnav-page-head,
.page-head {
	color: white;
	.bottom {
		z-index: 1;
		bottom: 0;
		position: absolute;
	}


	.subnav {
		padding: 0;
		margin: 0;
		list-style-type: none;
		li {
			display: block;
		}
		a {
			font-size: 2em;
			font-weight: 300;
			line-height: 1.4em;
			background-color: rgba(0, 0, 0, 0.5);
			display: inline;
			color: white;
			padding: .1em .3em;
			transition: background-color .2s;
		}
		a:hover {
			// background-color:rgba(0, 0, 0, 0.9);
			&.col-a {
				background-color: $col_a;
			}
			&.col-b {
				background-color: $col_b;
			}
			&.col-c {
				background-color: $col_c;
			}
			&.col-d {
				background-color: $col_d;
			}
			&.col-e {
				background-color: $col_e;
			}
		}
	}
}


.section-head {
	color: white; // height: 500px;
	.title {
		z-index: 1;
		bottom: 0;
		position: absolute;
	}
	&:before {
		content: '';
		float: left;
		padding-top: 50%;
	} // .play-container{
	// 	height:100%
	// }
	.button-play {

		// width:3em;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			display: block;
			position: relative;
			margin: auto;
			top: 50%;
			transform: translateY(-50%);
			height: 6em;
		}
	}
}

// .section-head.film {
// 	&:before {
// 		content: '';
// 		float: left;
// 		padding-top: 50%;
// 	}
// }
//titles
.title {
	font-family: $display-font;
	font-weight: 300;
}

.largest-title {
	font-size: 6em;
	line-height: 1;
	margin-bottom: .05em;
	&.border {
		border-bottom: .035em solid white;
	}
}

.large-title {
	font-size: 4em;
	line-height: 1;

	.subtitle {
		font-size: .5em; // line-height: 1.1em;
	}
}

.medium-title {
	font-size: 2em;
	line-height: 1.2;
}

.small-title {
	font-size: 1.5em;
	line-height: 1.2;
}

//themes
.dark-theme {
	background-color: $dark-bg-color;
	.title {
		color: $col_c;
	}
	color: $light-copy;
	a {
		color: $col_c;
	}
}

.light-theme {
	background-color: $light-bg-color;
}

.color-theme {
	background-color: $colored-bg-color;
	color: $light-copy;
	.title {
		color: $light-accent-color;
	}
}

.img-container {
	&.round {
		border-radius: 100%;
		overflow: hidden;
	}
	img {
		width: 100%;
	} // width:100%;
	// height:400px;
	// background-color:red;
}

.img-fill {
	object-fit: cover;
	font-family: 'object-fit: cover;'; // top: -2px;
	// left: -2px;
	// width: 102%;
	// height: 102%;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	transform: scale(1, 1);
	backface-visibility: hidden;
}

.columns {
	display: flex;
	flex-wrap: wrap; // border: 1px solid blue;
}

.column {
	//width:49.9%;
	// box-sizing: border-box;
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 50%;
	&:first-child {
		padding-right: $tile-padding*.5;
	}
	&:last-child {
		padding-left: $tile-padding*.5;
	}
	@media (max-width: 800px) {
		flex-basis: 100%;
		&:first-child,
		&:last-child {
			padding: 0;
		}
	}
}

.image-gallery {
	display: flex;
	flex-wrap: wrap;
	.gallery-tile {
		flex-basis: 25%;
		flex-shrink: 1;
		flex-grow: 1;
		position: relative;
		margin: $tile-padding * .5;
		&:before {
			content: '';
			float: left;
			padding-top: 100%;
		}
	}
}





/*credit + info formats*/

.info,
.accolades {
	font-weight: 300;
	list-style-type: none;
	padding: 0; // margin:0;
	line-height: 1.4em;
}

.credit {
	.role {
		font-weight: 300;
	}
	.name {
		font-size: 1.4em;
		line-height: 1.2em;
	}
	.email {
		margin-top: .5em;
		a {
			color: white;
			background-color: $col_b;
			padding: .2em .4em;
		}
	}
	margin-bottom: 1em;
}


/*featherlight overrides */

.featherlight.vimeo .featherlight-content,
.featherlight.image .featherlight-content {
  background: black;
  overflow: hidden;
  padding: 0;
  border: 0;
}
.featherlight.vimeo .featherlight-next,
.featherlight.image .featherlight-next {
  display: none;
}
.featherlight.vimeo .featherlight-previous,
.featherlight.image .featherlight-previous {
  display: none;
}
.featherlight.vimeo iframe,
.featherlight.image iframe {
  width: 90vw;
  height: 50.625vw;
  max-height: 90%;
}
.featherlight.vimeo .featherlight-close-icon,
.featherlight.image .featherlight-close-icon {
  left: 10px;
  top: 10px;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: rgba(23, 35, 34, 0.75);
  color: white;
  line-height: 36px;
  font-size: 24px;
  opacity: 0;
  transition: opacity .2s;
}
.featherlight.vimeo .featherlight-content:hover .featherlight-close-icon,
.featherlight.image .featherlight-content:hover .featherlight-close-icon {
  opacity: 1;
}

//Utils
.placeholder {
	background-color: #960c1c;
}


//Media queries
@media (max-width: 450px) {
	body {
		/*font-size: 10px;*/
		font-size: 10px;
	}
}